*
{
    margin:     0;
    padding:    0;

    box-sizing: border-box;
}

html, body
{   
    -ms-overflow-style: none; 
    scrollbar-width:    none; 
    
    overflow-y:         hidden;
    overflow-x:         hidden;
    
    font-family: 'Roboto', sans-serif;

    background-color: #f9f9f9;

}

body::-webkit-scrollbar 
{
    display: none; 
}

#logo_container
{
    height: 40svh;
    width:  100%;

    padding: 10px;

}

#logo_img
{
    height: 80%;
    width:  100%;
}

#app_title
{
    height: 20%;
    width:  100%;

    text-align: center;

    font-weight: 900;
    color: #619dd4;
}

#main_content
{
    height: 60svh;
    width:  100%; 

    padding: 25px;

}

#logo_title_container
{
    height: 20%;
    width:  100%;

    padding: 5px;

    border-top-left-radius:     25px;
    border-top-right-radius:    25px;

    background-color: #375e82;
    color: #fff;
}

.title_content
{
    height: 100%;
    width:  100%;

    display:         flex;
    align-items:     center;
    justify-content: center;
    
    font-size: clamp(0.5rem, 1vw + 1rem, 6rem);
}

h1
{
    font-weight: 900;

    color: #f4d170;
}

h2
{
    font-weight: 100;

    color: #fff;
}


.btn_container
{
    height: 80%;
    width:  100%;
   
    text-align: center;

    border-bottom-left-radius:  25px;
    border-bottom-right-radius: 25px;

    background-color: #375e82;

}

.btn
{
    height: 35%;
    width:  85%;

    margin-top: 25px;

    border: none;
    border-radius: 20px;

    background-color: #619dd4;

    color: #f4d170;

    font-size: clamp(0.5rem, 1vw + 1rem, 6rem);
    font-weight: 900;
    
}
