*
{
    margin:     0;
    padding:    0;

    box-sizing: border-box;
}

html, body
{   
    -ms-overflow-style: none; 
    scrollbar-width:    none; 
    
    overflow-y:         hidden;
    overflow-x:         hidden;
    
    font-family: 'Roboto', sans-serif;

}

body::-webkit-scrollbar 
{
    display: none; 
}


#main_container
{
    height: 100svh;
    width:  100%;
    
    padding: 10px;

    background-color: #c9c9c9;
}

#header_container
{
    height: 8%;
    width:  100%;

    display:            flex;
    justify-content:    center;
    align-items:        center;

    border-top-left-radius:     25px;
    border-top-right-radius:    25px;

    background-color: #f9f9f9;
}

#logo_img
{
    height:     100%;
    max-width:  50%;

    padding: 0.25em;

}

#logo_title
{
    height:     100%;

    padding: 0.25rem;
    display:            flex;
    justify-content:    center;
    align-items:        center;

    font-weight: 100;
    font-size: clamp(0.5rem, 1.5rem, 6rem);
    
    color: #619dd4;
}

#form_container
{
    height: 92%;
    width:  100%;

    border-bottom-left-radius:     25px;
    border-bottom-right-radius:    25px;

    background-color: #f9f9f9;
}

#first_row
{
    height: 10%;
    width:  100%;

    display: flex;
    justify-content: space-around;

}

.double_subcontainer
{
    width: 45%;

    padding: 5px;
}

label
{
    height: 50%;
    
    padding: 5px;

    display: block;

    border-top-left-radius:     5px;    
    border-top-right-radius:    5px;    
    background-color: #e9e9e9;

    font-size: clamp(0.75rem, 0.5rem, 6rem);
}

select
{
    height: 50%;
    width:  100%;
    
    border: none;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: #e9e9e9;

    font-weight: 900;
    font-size: clamp(0.5rem, 0.9rem, 6rem);
    color: #619dd4;
}

#second_row
{
    height: 10%;
    width:  100%;

    padding: 5px;
    
}

.one_control_label
{
    height: 50%;
    width:  95%;
    
    margin: 0 auto;

    display: block;

    border-top-left-radius:     5px;    
    border-top-right-radius:    5px;    

    background-color: #e9e9e9;

    font-size: clamp(0.75rem, 0.5rem, 6rem);
    
}

.one_control_input
{
    height: 50%;
    width:  95%;

    margin: 0 auto;
 
    display: block;
    
    border: none;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: #e9e9e9;

    font-weight: 900;
    font-size: clamp(0.75rem, 0.5rem, 6rem);
    color: #619dd4;
}

#third_row
{
    height: 10%;
    width:  100%;

    padding: 5px;
    
} 

#fourth_row
{
    height: 10%;
    width:  100%;

    padding: 5px;
  
} 

h2
{
    font-weight: 900;
    font-size: clamp(1rem, 0.5rem, 6rem);
    color: #619dd4;
}

#fifth_row
{
    height: 10%;
    width:  100%;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

} 

#sixth_row
{
    height: 10%;
    width:  100%;

    display: flex;
    justify-content: space-around;

}

#sixth_row label
{
    height: 50%;
    
    padding: 5px;

    display: block;

    border-top-left-radius:     5px;    
    border-top-right-radius:    5px;    
    background-color: #e9e9e9;

    font-size: clamp(0.75rem, 0.5rem, 6rem);
}

.multi_input
{
    height: 50%;
    width:  100%;

    margin: 0 auto;
 
    display: block;
    
    border: none;
    border-bottom-left-radius:  5px;
    border-bottom-right-radius: 5px;
    background-color: #e9e9e9;

    font-weight: 900;
    font-size: clamp(0.75rem, 0.5rem, 6rem);
    color: #619dd4;
}

#seventh_row
{
    height: 10%;
    width:  100%;

    padding: 5px;
    
} 

#eigth_row
{
    height: 10%;
    width:  100%;

    padding: 5px;
    
} 

#nineth_row
{
    height: 20%;
    width:  100%;

    display:            flex;
    align-items:        center;
    justify-content:    center;

} 

#request_btn
{
    border: none;
    border-radius: 15px;

    font-weight: 900;
    font-size: clamp(0.75rem, 0.5rem, 6rem);
    color: #619dd4;

    padding: 1rem 3rem;

    background-color: dimgray;
}